*.db
*.db-shm
*.db-wal
*.db-journal
*.log
secrets.yaml
ip_bans.yaml
.storage/
.cloud/
__pycache__/
*.pyc
tts/
deps/
www/
.google.token
*.db
home-assistant_v2.db
home-assistant.log
OZW_Log.txt
*.conf
known_devices.yaml
.ha_run.lock
